body {
    margin: 0px;

}

a:link {
    color: rgb(1, 137, 83);
    text-decoration: none;
}

a:visited {
    color: rgb(1, 137, 83);
}

a:hover {
    color: rgb(189, 183, 107);
}

a:active {
    color: aquamarine;
}


.bar {
    background-image: url(../img/bg1.webp);
    background-size: cover;
    margin-top: 0px;
    text-align: center;
    border-style: solid;
    border-width: 4px 4px 4px 4px;
    border-color: darkseagreen;
    padding: 4px 0px 4px 0px;
}

h2 {
    text-align: center;
    color: rgb(133, 133, 133);
}

.content {
    background-color: rgb(190, 190, 141);
    margin: 0px 18% 0px 18%;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(78, 64, 0);
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    text-align: justify;
}

#i1 {
    width: 385px;
    height: 315px;
    float: right;
    object-fit: cover;
}

#info1 {
    width: 100%;
}